<launch>

    <arg name="robot_ns" default="/"/>

    <!-- Spawn location -->
    <arg name="x"     default="0"/>
    <arg name="y"     default="0"/>
    <arg name="z"     default="0.05"/>
    <arg name="roll"  default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw"   default="0"/>

    <group ns="$(arg robot_ns)">
        <!-- TF Prefix: since "ns" does not affect TF tree -->
        <param name="tf_prefix" value="$(arg robot_ns)"/>

        <!-- Parse URDF with xacro -->
        <param name="robot_description" command="xacro '$(find description)/urdf/cybertruck.urdf.xacro'"/>

        <!-- Spawn Caffeine in Gazebo -->
        <node name="spawn_cybertruck" pkg="gazebo_ros" type="spawn_model"
            args="-param robot_description
                -urdf -model $(arg robot_ns)_cybertruck
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

        <!-- Setup TF Tree -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>

</launch>
